services:
  mcp-server:
    build: .
    container_name: mcp-server
    ports:
      - "3000:3000"
    volumes:
      - ./logs:/app/logs
      - uv_cache:/root/.cache/uv  
      - venv_data:/app/.venv
    env_file:
      - .env
    restart: unless-stopped

volumes:
  venv_data:
  uv_cache:
